{{#each games}}

    <br>

    <div class="card card-body">
        <h4>{{title}}</h4>
        <p>Price: {{price}}</p>
        <p>Description: {{description}}</p>
        <p>Owns the game: {{owner}}</p>
    </div>

{{else}}
    
<p>There are no games in the database.</p>

{{/each}}
