{{#each games}}

    <br>

    <div class="card card-body">
        <h4>{{title}}</h4>
        <p>{{price}}</p>
        <p>{{description}}</p>
        <p>User ID: {{_id}}</p>
    </div>

{{else}}
    
<p>There are no games in the database.</p>

{{/each}}